* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  /* align-items: center; */
  justify-content: center;
/* background-color: blanchedalmond; */
  width: 100%;
  height: 100vh;
}
.container {
  width: 70%;
  height: 500px;
  border: 1px solid black;
  /* margin: auto; */
  margin-top: 100px;
  color: wheat;
  text-align: center;
  /* background-color: url("#ffff","#jjjj","#kkkk" ); */
    background: linear-gradient(to right, rgb(0, 94, 255), rgb(165, 121, 203), rgb(247, 149, 244));
    /* background: linear-gradient(to left, rgb(0, 94, 255), rgb(165, 121, 203), rgb(247, 149, 244)); */
  
}
.container span {
  display: inline-block;
  /* display: flex; */
  
  width: 90px;
  height: 90px;
  border: 1px solid black;
  background-color: aqua;
  margin: 5px;
  cursor: pointer;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
}
